{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
        .red-color {
            color: red;
        }

        .gray-color {
            color: #ccc;
        }
    </style>

    <title>{% block title %} Tweetme {% endblock title %}</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}
            
        {% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
    <script>
        
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function loadTweetContainer(tweetContainerID) {

            let query = getParameterByName('q')
            let tweetList = []
            let nextTweetUrl;
            let tweetContainer;
            if (tweetContainerID){
                tweetContainer = $('#' + tweetContainerID)
            } else {
                tweetContainer = $('#tweet-container')
            }

            let initialUrl = tweetContainer.attr('data-url') || 'api/tweets/';

            $(document.body).on('click', '.tweet-like', function(event) {
                event.preventDefault()

                let this_ = $(this)
                let tweetID = this_.attr('data-id')
                let likedURL = '/api/tweets/' + tweetID + '/like/'

                $.ajax({
                    method: 'GET',
                    url: likedURL,

                    success: function(data){
                        console.log(data)
                        if(data.liked){
                            this_.text('Liked')
                        } else {
                            this_.text('Unlike')
                        }
                    },
                    error: function(data){
                        console.log('error')
                        console.log(data)
                    }
                })
            })

            $(document.body).on('click', '.retweetBtn', function(event){
                event.preventDefault()
                let url = '/api' + $(this).attr('href')

                $.ajax({
                    method: "GET",
                    url: url, 
                    success: function(data){
                        console.log(data)
                        if(initialUrl == '/api/tweets/')
                        attachTweet(data, true, true)
                        updateHashLinks()
                    },
                    error: function(data){
                        console.log("error")
                        console.log(data)
                    }
                })
            })

            function updateHashLinks(){
                $('.media-body').each(function(data){
                    let hashtagRegex = /(^|\s)#([\w\d-]+)/g
                    let usernameRegex = /(^|\s)@([\w\d-]+)/g
                    let currentHtml = $(this).html()
                    let newText;

                    newText = currentHtml.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>")
                    $(this).html(newText)
                    
                    newText = newText.replace(usernameRegex, "$1@<a href='/$2/'>$2</a>")
                    $(this).html(newText)
                })
            }

            function formatTweet(tweetValue){
                let verb = 'Like'

                if(tweetValue.did_like){
                    verb = 'Unlike'
                }

                let preContent;
                let container;
                let tweetContent;
                let isReply = tweetValue.reply;

                if (tweetValue.parent && !isReply){
                    tweetValue = tweetValue.parent
                    preContent = "<span class='gray-color'>Retweet via " + tweetValue.user.username + " on " + tweetValue.date_display + 
                    "</span><br>"

                } else if (tweetValue.parent && isReply) {
                    preContent = "<span class='gray-color'>Reply to @" + tweetValue.parent.user.username  + "</span><br>"
                    
                }


                tweetContent = tweetValue.content +
                    "<br> via " +
                    "<a href='" + tweetValue.user.url + "'>" +
                    tweetValue.user.username + "</a>" +
                    " | " +
                    tweetValue.date_display +
                    " | " +
                    "<a href='/tweets/" + tweetValue.id + "'>view</a> | " + 
                    "<a class='retweetBtn' href='/tweets/" + tweetValue.id + "/retweet/'>Retweet</a> |" +
                    "<a class='tweet-like' href='' data-id=" + tweetValue.id +"> "+ verb +"(" + tweetValue.likes + ") </a>"

                if(preContent){
                    container = "<div class='media'><div class='media-body'>" + preContent + tweetContent + "</div></div><hr>" 
                } else {
                    container = "<div class='media'><div class='media-body'>" + tweetContent + "</div></div><hr>" 
                }

                return container

            }


            function attachTweet(tweetValue, prepend, retweet){

                tweetFormHtml = formatTweet(tweetValue)

                if (prepend == true){
                    tweetContainer.prepend(tweetFormHtml)

                } else {
                    tweetContainer.append(tweetFormHtml)
                }

            }

            function parseTweets(){

                if (tweetList == 0){
                    tweetContainer.text("No tweets currently found")

                } else {
                    $.each(tweetList, function(key, value){
                        let tweetKey = key
                        if (value.parent){
                            attachTweet(value, false, true)
                        } else {
                            attachTweet(value)
                        }

                    })
                }


            }

            function fetchTweets(url) {
                let fetchUrl;

                if (!url) {
                    fetchUrl = initialUrl
                } else {
                    fetchUrl = url
                }
                $.ajax({
                    url: fetchUrl,
                    data: {
                        "q": query,
                    },
                    method: 'GET',
                    success: function(data){
                        tweetList = data.results
                        if (data.next) {
                            nextTweetUrl = data.next
                        } else {
                            $("#loadmore").css("display", "none")
                        }
                        parseTweets()
                        updateHashLinks()
                    },
                    error: function(data){
                        console.log('error')
                        console.log(data)
                    }
                })
            }

            fetchTweets()

            $("#loadmore").click(function (event){
                event.preventDefault()
                if (nextTweetUrl) {
                    fetchTweets(nextTweetUrl)
                }
            })

            let charsStar = 140
            let charsCurrent = 0

            $("#tweet-form").append("<span id=tweetsCharsLeft>" + charsStar + "</span>")

            $("#tweet-form textarea").keyup(function(event) {
                let tweetValue = $(this).val()
                charsCurrent = charsStar - tweetValue.length

                let spanChars = $("#tweetsCharsLeft")
                spanChars.text(charsCurrent)

                if(charsCurrent > 0) {
                    spanChars.removeClass("gray-color")
                    spanChars.removeClass("red-color")

                } else if(charsCurrent == 0) {
                    spanChars.removeClass("red-color")
                    spanChars.addClass("gray-color")
                } else {
                    spanChars.addClass("red-color")
                    spanChars.removeClass("gray-color")

                }
            })

            $("#tweet-form").submit(function(event){
                event.preventDefault()

                let this_ = $(this)
                let formData = this_.serialize()

                if (charsCurrent >= 0 ){

                    $.ajax({
                        url: '/api/tweets/create/',
                        method: 'POST',
                        data: formData,
                        success: function(data){
                            this_.find('input[type=text], textarea').val('')
                            attachTweet(data, true)
                            updateHashLinks()
                        },
                        error: function(data){
                            console.log('error')
                            console.log(data)
                        }
                    })
                }

                else {
                    console.log("Muy largo")
                }

            })

        }

    </script>
    <script>
        $(document).ready(function(){
            let typingTimer;
            let doneInterval = 500;
            let searchInput = $("#navbar-search-form input[type=text]");
            let searchQuery;

            searchInput.keyup(function(event) {
                searchQuery = $(this).val()

                clearTimeout(typingTimer)
                typingTimer = setTimeout(doneSearchTyping, doneInterval)
            })
            
            searchInput.keydown(function(event) {

                clearTimeout(typingTimer)

            })

            function doneSearchTyping(){
                if(searchQuery) {

                    let url = '?q=' + searchQuery
                    document.location.href = url
                }
            }
        })
    </script>
</html>